
.navbar {
    flex: 0 0 45%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__element {
        margin-left: 2rem;
        text-transform: capitalize;
        color: white;
    }
}

.content {
    flex: 0 0 79%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 3.75rem;
    text-align: center;
}

.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}