.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, #0F2027, #2C5364);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);

    display: flex;
    flex-direction: column;
}

.contact {

}

.footer {
    /*
    height: 50vh;
    background-image: linear-gradient(to right bottom, #0F2027, #2C5364);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 21vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 21vh, 100% 0, 100% 100%, 0 100%);
    */
    height: 10vh;
    background-image: linear-gradient(to right bottom, #0F2027, #2C5364);
    background-size: cover;
    background-position: top;
}

// Animations

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    } 

    70% {
        transform: translateX(15px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    } 

    70% {
        transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}