.infocard {
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 3px 7px 1rem grey;
    margin: .4rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: moveUp 1s ease-out;

    &__description {
        margin-bottom: 2.75rem;

        > h4 {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        > p {
            font-size: 1.5rem;
        }
    }

    &__skills {
        > strong {
            font-size: 1.75rem;
            font-weight: lighter;
        }

        > p {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 0.75rem;
        }
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    60% {
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
} 
