.intro {
    display: flex;
    flex: 0 0 20%;

    font-size: 2rem;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 8rem;
}